frontend/node_modules
frontend/coverage
frontend/build
frontend/.vercel
frontend/next-env.d.ts
frontend/.next
frontend/out

backend/Cargo.lock
backend/target

*.pem
.env
.env*.local
*.tsbuildinfo
**/*.rs.bk
*.pdb

/target
